<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="config">
<head>
    <!--Common Head-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
    <title></title>

    <!--Common JS-->
    <script th:inline="javascript" src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script th:inline="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha256-1tjQXQ+qJ0qYyJLgjJ7KXgJrJgR0tqXZkK+0Zp5l9qk=" crossorigin="anonymous"></script>


    <!--Common CSS -->
    <link th:inline="css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" rel="stylesheet"/>
</head>
</html>